<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>글 상세보기</title>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div th:insert="~{fragments/header :: header}"></div>
		<div th:insert="~{fragments/sidebar :: sidebar}"></div>
		<div th:layout="content" id="content">
		<h3 align="center">게시글 상세</h3>
		<form method="post">
			<table border="1" align="center" width="700">
				<tr align="center">
					<th bgcolor="orange" width="30%">제목</th>
					<td width="40%"><input type="text" name="title" size="20" th:value="${board.title}"></td>
				</tr>
				<tr align="center">
					<th  bgcolor="orange">작성자</th>
					<td align="center">
						<input type="text" name="id" th:value="${board.id}" readonly>
					</td>
				</tr>
				<tr align="center">
					<th  bgcolor="orange">내용</th>
					<td>
						<textarea name="content" cols="22" rows="10" th:text="${board.content}"></textarea>
					</td>
				</tr>
				<tr align="center">
					<th bgcolor="orange">작성일자</th>
					<td th:text="${board.writeDate}" align="center"></td>
				</tr>
				<tr align="center">
					<th bgcolor="orange">파일</th>
					<td>
						<div th:each="file:${fileList}">
							<a th:href="@{'/files/' + ${board.articleNo} + '/' + ${file.fileName}}">
								<img th:src="@{'/files/'+ ${board.articleNo} + '/' + ${file.fileName}}" width="100">
							</a>
						</div>
					</td>
				</tr>
				<tr>
					<th colspan="2">
						<input type="submit" value="게시글 수정">
					</th>
				</tr>
			</table>
		</form>
		<div align="center">
			<a href="/board/insertBoard">글등록</a>
			<a th:href="@{/board/deleteBoard(articleNo=${board.articleNo})}">글삭제</a>
			<a href="/board/boardList">글목록</a>
		</div>
		</div>
		<div th:insert="~{fragments/footer :: footer}"></div>
	</body>
</html>