body {
	margin:0 auto;
}
#header {
	padding:10px;
	height:140px;
	text-align:center;
	background-color: cornsilk;
}
#header > div {
	float:right;
	margin-right:50px;
}
#header > div > a {
	display: inline-block;
	text-decoration: none;
	color:black;
	background-color: burlywood;
	padding :10px;
	width:100px;
}
#header > div > a:hover{
	background-color: chocolate;
}
#sidebar {
	clear:both;
	position:absolute;
	top:160px;
	height:82%;
	width:150px;
	padding-top:10px;
	background-color:burlywood;
}
#sidebar > ul {
	position:absolute;
	left:-10px;
	list-style: none;
}
#sidebar > ul > li {
	text-align: center;
	padding : 10px;
}
#sidebar > ul > li > a {
	text-decoration: none;
	color:black;
}
#sidebar > ul > li:hover {
	background-color: chocolate;
}
#footer {
	position:absolute;
	background-color: cornsilk;
	width:100%;
	bottom:0px;
	text-align:center;
}